{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>The realtor</title>
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/dorang.css' %}">

</head>

<script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>
<script src="{% static 'js/dorang.js' %}"></script>

{% endblock %}