@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

body {
    background: black;
    font-family: "Pompiere", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

input {
    width: 250px;
    height: 30px;
    padding: 5px;
    margin-left: -30px;
    font-family: "Pompiere", sans-serif;
    background-color: black;
    color: #fff;
    border: none;
}

#header-index {
    top: 40%;
    position: absolute;
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 0;
}

.title-index {
    color: #fff;
    font-size: 4rem;
}

.button-index {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 230px;
    height: 30px;
    border: none;
    background-color: #fff;
    font-family: "Pompiere", sans-serif;
    font-size: 19px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}

/* Login */

.telalogin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    padding: 60px;
}

.buttonlogin {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border: none;
    background-color: black;
    color: #fff;
    font-family: "Pompiere", sans-serif;
    padding: 2px;
    margin-bottom: 100px;
}

.buttonlogin:hover{
    background-color: grey;
    cursor: pointer;
}

/* endlogin */




.table-list {
    border-collapse: collapse;
    margin: auto;
    margin-top: 5%;
    max-height: 400px;
}

.thead-table, th {
    padding: 19px;
    border: 2px solid black;
    background-color: #1d1d21;
    color: #fff;
    font-family: "Pompiere", sans-serif;
    font-size: 26px;
    top: 50%;
    left: 50%;
    text-align: center;
    
}

.tbody-table, td, tr{
    padding: 19px;
    font-family: "Pompiere", sans-serif;
    border: 2px, solid black;
    color: black;
    background-color: #fff;
    font-size: 20px;
    top: 50%;
    left: 50%;
    text-align: center;

}


/* navbar */

.header-nav {
    background-color: #fff;
    padding-inline: 16px;
}
.nav {
    max-width: 1280px;
    height: 50px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: black;
}

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
}

.nav-list a {
    font-size: 18px;
    color: black;
    padding-block: 16px;
}


.form-delete{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    padding: 60px;
    font-size: 30px;
    text-align: center;
}

.form-delete p{
    color: black;
    margin: auto;
}

.button-form {
    padding-inline: 30px;
    padding: 20px;
    background-color: black;
    color: #fff;
}

.div-imovel{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}

.div-h1-imovel {
    color: black;
    padding: 20px;
    margin: auto;
}

.localizacao {
    background-color: black;
    padding: 20px;
    color: #fff;
    font-size: 19px;
}

.imovel{
    background-color: black;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.div-form {
    width: 250px;
    margin: auto; /* Centraliza o formulário horizontalmente */
    padding: 70px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-inline: 50px;
}

.btn-form {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.btn-form a{
    text-decoration: none;
    color: #f9f9f9;
    padding: 45px;
}