@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

.title {
    color: antiquewhite;
    margin: 0%;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
}

#header {
    position: fixed;
    width: 100%;
}

.button{
    padding: 10px 20px; /* Ajuste o padding */
    font-size: 18px; /* Ajuste o tamanho da fonte */
    background-color: white; /* Cor de fundo */
    border: none; /* Remover borda */
    border-radius: 0px; /* Bordas arredondadas */
    cursor: pointer; /* Alterar o cursor para pointer */
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.button:hover{
    background-color: rgb(20, 113, 220);
}